@use "variables";
@use "mixin";


body {
    background-color: variables.$bak;
}

h1, h2, p {
    color: variables.$periwinkel;
   margin: 15px 40px 0px 40px;
}

h1 {
    font-size: 50px
}

button {
    @include mixin.customBtn;
}

.box {
    @include mixin.boxBorder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}